/* Enter your custom styles here */
.labelMargin{
    margin-top: 6px;
}
.basicProjectPage .sapFDynamicPageTitleMainActions{
    margin-left: unset !important;
}
.basicProjectPage .sapFDynamicPageTitleMainContent {
    margin-left: auto;
}
.basicProjectPage .projectDescInput{
    margin-top: 0 !important;
}
.basicProjectPage .projectDescText {
    overflow: auto;
}
.basicProjectPage .projectImage{
    margin-left: 1rem;
}